<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .container{
      width: 80%;
      margin: 0 auto;
    }
  </style>
</head>
<body>

<div class="container">
  {{ page.content }}
</div>

</body>
</html>
